.navbar {
	display: flex;
	flex: row;
	justify-content: space-between;
	align-items: center;
	padding-inline: 50px;
	height: 70px;
	background-color: rgb(42, 138, 255);
}

.cart-img {
	width: auto;
	height: 30px;
}

h1 {
	font-weight: 600;
}

span {
	width: 22px;
	background-color: yellow;
	border-radius: 50%;
	padding: 1px;
	position: absolute;
	right: 30px;
	top: 10px;
	text-align: center;
}
